<?xml version='1.0' encoding='utf-8'?>
<widget id="com.atelier.planches" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Atelier BD</name>
    <description>Génère des suites et des histoires originales en bande dessinée.</description>
    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://api.anthropic.com/*" />

    <preference name="BackgroundColor" value="0xffe9dfc6" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="SplashMaintainAspectRatio" value="true" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <icon density="mdpi"    src="www/icon-192.png" />
        <icon density="hdpi"    src="www/icon-192.png" />
        <icon density="xhdpi"   src="www/icon-512.png" />
        <icon density="xxhdpi"  src="www/icon-512.png" />
        <icon density="xxxhdpi" src="www/icon-512.png" />
    </platform>
</widget>
